.product {
  display: inline-block;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
}

.product:hover {
  transition: all 0.07s linear;
  transform: scale(1.03);
  background-color: rgb(240, 240, 250);
}

.product img {
  width: 200px;
}

.product button {
  font-size: 15px;
  padding: 10px 20px;
  margin: 3px;
  width: 60px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.product button:hover {
  transition: background 0.07s linear;
  background-color: slateblue;
  color: white;
  cursor: pointer;
}
