.cart-container {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  vertical-align: top;
}

.cart-icon {
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: center;
  padding: 20px;
  display: inline-block;
  float: left;
}

.cart {
  background-color: black;
  height: 100vh;
  width: 400px;
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 50px;
}
